{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags %}


{% block content %}
    {% image self.banner_image fill-1200x300 as banner %}
    <img src="{{ banner.url }}" alt="{{ banner.alt }}" style="width: 100%; height: auto;">

    <h1>Tags:</h1>
    {% for tag in page.tags.all %}
    <a href="{{ self.get_parent.url }}?tag={{ tag.slug }}">{{ tag }} -- {{ tag.slug }}</a><br/>
    {% endfor %}

    <div class="container mt-5 mb-5">
        <div class="text-center">
            <h1>
                {% if self.custom_title %}
                    {{ self.custom_title }}
                {% else %}
                    {{ self.title }}
                {% endif %}
            </h1>
            {% if self.subtitle %}
                <h3>{{ self.subtitle }}</h3>
            {% endif %}
        </div>
        <ul>
            {% for iter in self.blog_authors.all %}
                {% image iter.author.image fill-50x50 as img %}
                <li>
                    <img src="{{ img.url }}" alt="{{ iter.author.name }}">
                    {{ iter.author.name }}
                    {% if iter.author.website %}
                        <a href="{{ iter.author.website }}">(website)</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <h2>Categories</h2>
    <ul>
        {% for cat in self.categories.all %}
            <li>
                <a href="{{ self.get_parent.url }}?category={{ cat.slug }}">{{ cat.name }}</a>
            </li>
        {% endfor %}
    </ul>
    {% if self.intro_image %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    {% image self.intro_image fill-1400x400 as intro_img %}
                    <img src="{{ intro_img.url }}" alt="{{ intro_img.alt }}">
                </div>
            </div>
        </div>    
    {% endif %}


    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                {% for block in page.content %}
                    {% include_block block %}
                {% endfor %}        
            </div>
        </div>
    </div>
    

{% endblock %}